<div ng-include="'content/admin_panel/admin_panel_header.html'"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!--Content Goes here-->
        <div class="card mb-3 margin-top-48">
            <div class="card-header">
                <i class="fas fa-plus"></i> Add Seller
            </div>
            <div class="card-body">
                <form name="editForm">
                    <div class="form-group">
                        <label for="userID">ID:</label>
                        <input type="text" ng-model="user.id" ng-disabled="true" ng-required="false" class="form-control" id="userID"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="userUsername">Username:</label>
                        <input type="text" ng-model="user.username" ng-required="true" ng-disabled="false"
                               class="form-control" id="userUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" ng-model="user.password" ng-required="true" ng-disabled="false"
                               class="form-control" id="password" placeholder="Password" onkeyup="checkPass(); return false;">
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password:</label>
                        <input type="password" ng-required="true" ng-model="confirmPassword" ng-disabled="false" class="form-control"
                               onkeyup="checkPass(); return false;" id="passwordConfirm" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <label for="userEmail">E-Mail:</label>
                        <input type="email" ng-model="user.email" ng-required="true" ng-disabled="false"
                               class="form-control" id="userEmail" placeholder="E-Mail">
                    </div>
                    <div class="form-group">
                        <label for="userSelectCountry">Country:</label>
                        <select id="userSelectCountry" class="form-control" ng-model="user.country"
                                ng-options="country.niceName for country in countries track by country.id" ng-required="false">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userChangePassword">Change Password:</label>
                        <select id="userChangePassword" class="form-control" ng-init="user.passwordChange='Yes'"
                                ng-model="user.passwordChange" ng-required="true">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <button ng-click="editForm.$valid && add()" type="submit" class="btn btn-primary">Add</button>
                    <button ng-click="cancel()" class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include="'content/admin_panel/admin_panel_footer.html'"></div>
