<ng-include src="'content/header.html'"></ng-include>

<div class="container margin-top-48">
    <div class="card-deck mb-3 text-center ">

        <div class="container-fluid">

            <!--Content Goes here-->
            <div class="card-header">
                <i class="fas fa-plus"></i> Add Credit Card
            </div>
            <div class="card-body">
                <form name="editForm">
                    <div class="form-group">
                        <label for="cardID">ID:</label>
                        <input type="text" ng-model="card.id" ng-disabled="true" ng-required="false"
                               class="form-control" id="cardID"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">Number:</label>
                        <input type="text" ng-model="card.number" ng-required="true" ng-disabled="false"
                               class="form-control" id="cardNumber" placeholder="Number">
                    </div>
                    <button ng-click="editForm.$valid && add()" type="submit" class="btn btn-primary">Add</button>
                    <button ng-click="cancel()" class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>

    </div>
</div>

<ng-include src="'content/footer.html'" ng-controller="ControllerHome"></ng-include>
